#global {
    background: transparent url("img/bg.png") center no-repeat;
}

#btn_acceder-1{
    position: absolute;
    width: 595px;
    height: 140px;
    top: 864px;
    left: 340px;
}

#btn_acceder-2{
    position: absolute;
    width: 595px;
    height: 140px;
    top: 864px;
    left: 1115px;
}

/* #logo_ambisome{
    position: absolute;
    bottom: 9px;
    left: 87px;
    width: 430px;
    height: 140px;
} */

.logo_ref, 
.logo_home{
    display: none;
}