/* * * * * * * * * * * * * *
        Fonts
* * * * * * * * * * * * * */
@font-face {
    font-family: 'LatoBold';
    src: url('fonts/Lato-Bold.woff2') format('woff2'),
        url('fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'LatoMedium';
    src: url('fonts/Lato-Medium.woff2') format('woff2'),
        url('fonts/Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LatoBlackItalic';
    src: url('fonts/Lato-BlackItalic.woff2') format('woff2'),
        url('Lato-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('fonts/Lato-Regular.woff2') format('woff2'),
        url('fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LatoBoldItalic';
    src: url('fonts/Lato-BoldItalic.woff2') format('woff2'),
        url('fonts/Lato-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


/* * * * * * * * * * * * * *
        General
* * * * * * * * * * * * * */
body {
    font-size: 30px;
    line-height: 1.3;
    font-family: 'LatoMedium';
    color: #4d4d4d;
}

.hidden {        
    display: none;
}

.title{
    font-family: 'LatoBoldItalic';
    position: absolute;
    top: 253px;
    left: 128px;
    color: #c63343;
    font-size: 70px;
}
sup{
    font-size: 40px;
}
/* * * * * * * * * * * * * *
        Zona contingut
* * * * * * * * * * * * * */
#zona_contingut {
    position: absolute;
    top: 180px;
    left: 50px;
    width: 1950px;
    height: 1280px;
}

/****************************
            BOTONES
****************************/
.logo_home{
    background: transparent url('img/menu/top/home.png') no-repeat center center;
    width: 84px;
    height: 84px;
    position: absolute;
    top: 52px;
    right: 60px;
    background-size: 100%;
}
.logo_ref{
    background: transparent url('img/menu/top/referencias.png') no-repeat center center;
    width: 84px;
    height: 84px;
    position: absolute;
    top: 52px;
    right: 200px;
    background-size: 100%;
    background: red;
}

.btn {
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    background: #666666;
}

.retina .btn {
    min-width: 100px;
    min-height: 100px;
}

.btn_popup{
    position: absolute;
    width: 445px;
    bottom: 320px;
    height: 102px;
    left: 800px;
}

.btn_popup-1{
    position: absolute;
    width: 445px;
    bottom: 300px;
    height: 102px;
    left: 515px;
}

.btn_popup-2{
    position: absolute;
    width: 445px;
    bottom: 300px;
    height: 102px;
    left: 1090px;
}

.btnNext{
    position: absolute;
    bottom: 0px;
    right: 1px;
    width: 210px;
    height: 160px;
    /* background: transparent url('img/arrow.png') center no-repeat; */
}
.btnPrev{
    position: absolute;
    bottom: 0px;
    left: 1px;
    width: 210px;
    height: 160px;
    /* background: transparent url('img/arrow.png') center no-repeat; */
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.text_prev{
    position: absolute;
    bottom: 60px;
    left: 184px;
    color: #a1a1a1;
}
.text_next{
    position: absolute;
    bottom: 60px;
    right: 179px;
    color: #a1a1a1;
}
.text_center{
    position: absolute;
    bottom: 60px;
    right: 1009px;
    color: #a1a1a1;
}
/****************************
            POPUPS
****************************/
.retina .popup {
    top: 0;
    left: 0;
}

/* #popReferencias{
    background: yellow;
} */
#popFugnica{
    background: blue;
    background: transparent url('img/popup_infeccion-fugnica.png');
}
#popAi{
    background: blue;
    background: transparent url('img/popup_ai.png');
}

#popCi{
    background: blue;
    background: transparent url('img/popup_ci.png');
}


.popup .btn-tancar {
    top: 58px;
    right: 68px;
    width: 140px;
    height: 140px;
    position: absolute;
    z-index: 1;
}

/****************************
            BULLET
****************************/
.bullets{
    position: absolute;
    bottom: 60px;
    left: 47%;
}
.bullet{
    float: left;
    background: transparent url('img/bullet.png') center no-repeat;
    width: 18px;
    height: 18px;
    margin: 0px 10px;
    background-size: 100%;
}
.bullet.active{
    background: transparent url('img/bullet_active.png') center no-repeat;
}