
#global {
  background: transparent url("img/bg.png") center no-repeat;
}

#sobre{
  position: absolute;
  width: 100px;
  bottom: 320px;
  height: 95px;
  left: 1820px;
}

/* tipografias */
.div_patologia p,
.container_category{
  font-family: 'LatoBold';
  padding-bottom: 5px;
}

.div_patologia{
  padding-bottom: 30px;
}

/* containers */
.box_container_factores {
  position: absolute;
  height: 1010px;
  width: 1527px;
  overflow-y: scroll;
  top: 383px;
  left: 136px;
  color: #4d4d4d;
}
.box_container_resumen {
  position: absolute;
  height: 1010px;
  width: 310px;
  overflow-y: scroll;
  top: 383px;
  right: 53px;
  color: #4d4d4d;
}
.box_container_resumen{
  font-size: 20px;
  line-height: 25px;
}
.box_container_resumen_wrap div{
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #dadada;
  padding-bottom: 20px;
  padding-top: 20px;
}
.box_container_resumen_wrap div:nth-child(1){
  border-top: 1px solid #dadada;
}

/* cajas */
.box{
  min-height: 130px;
  margin-bottom: 30px;
  -webkit-box-shadow: -8px 8px 10px -10px rgba(156,156,156,0.46);
  -moz-box-shadow: -8px 8px 10px -10px rgba(156,156,156,0.46);
  box-shadow: -8px 8px 10px -10px rgba(156,156,156,0.46);
  border: 1px solid #dbdbdb;
  border-right: 0px;
  border-radius: 40px 40px;
}

.box.com{
  min-height: 709px;
}
.box.est_inmu{
  min-height: 531px;
}
.box.ter{
  min-height: 1126px;
}
.box.fac{
  min-height: 876px;
  margin-bottom: 100px;
}
.box_categoria{
  width: 267px;
  padding: 40px;
  font-size: 31px;
  float: left;
  color: #000000;
  font-family: 'LatoBold';
}
.box_datos{
  width: 1238px;
  float: left;
}
.box_name{
  float: left;
  font-size: 34px;
  border: 1px solid #c9c9c9;
  color: #4d4d4d;
  font-family: 'LatoRegular';
  padding: 37px 0px 47px 26px;
}
.box_name.width_2{
  width: 50%;
}
.box_name.width_3{
  width: 411px;
}

.box.com .width_3{
  height: 177px;
}
.box.com .width_3 span{
  margin-bottom: 77px;
}

.box.est_inmu .width_2{
  height: 177px;
}
.box.est_inmu .width_2 span{
  margin-bottom: 77px;
}

/* enfermedad */
.box.enf .width_3{
  height: 129px;
  font-size: 31px;
}
.box.enf .width_3 span{
  margin-bottom: 10px;
}
/* factores */
.box.fac .width_3{
  height: 219px;
  font-size: 31px;
}
.box.fac .width_3 span{
  margin-bottom: 90px;
}

.box.ter .width_3{
  height: 225px;
}
.box.ter .width_3 span{
  margin-bottom: 95px;
}

.box_container_resumen span,
.box_container_factores span{
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  margin: 8px 20px 0px 0px;
  /* margin-bottom: 77px; */
  border-radius: 50%;
}
.box_container_resumen span{
    width: 22px;
    height: 22px;
    float: right;
    margin: 2px 14px;
}

/* Colores */
.box_color_rojo{
  background: #c63343;
}
.box_color_blanco{
  background: #e5e5e5;
}
.box_color_verde{
  background: #62b87b;
}
.box_color_amarillo{
  background: #fcbf0d;
}

.pac .box_name:nth-child(3) {
  border-radius: 0px 30px 30px 0px;
}
.sex .box_name:nth-child(2) {
  border-radius: 0px 30px 30px 0px;
}
.com .box_name:nth-child(3) {
  border-radius: 0px 30px 0px 0px;
}
.com .box_name:nth-child(12) {
  border-radius: 0px 0px 30px 0px;
}
.est_inmu .box_name:nth-child(2) {
  border-radius: 0px 30px 0px 0px;
}
.est_inmu .box_name:nth-child(6) {
  border-radius: 0px 0px 30px 0px;
}
.neu .box_name:nth-child(2) {
  border-radius: 0px 30px 30px 0px;
}
.enf .box_name:nth-child(3) {
  border-radius: 0px 30px 30px 0px;
}
.ter .box_name:nth-child(3) {
  border-radius: 0px 30px 0px 0px;
}
.ter .box_name:nth-child(15) {
  border-radius: 0px 0px 30px 0px;
}
.fac .box_name:nth-child(3) {
  border-radius: 0px 30px 0px 0px;
}
.fac .box_name:nth-child(12) {
  border-radius: 0px 0px 30px 0px;
}

.box_name.active{
  color: white;
}
.box_name.box_color_blanco.active{
  color: #4d4d4d;
}
.active span{border: 5px solid white;}

.container_text{
}
/******************
        Scroll
*****************/
.box_container_factores::-webkit-scrollbar {
  width: 10px;
  overflow:auto;
direction:ltr;
}

.box_container_factores::-webkit-scrollbar-track {
  background-color: #2c4972;
  border-left: 1px solid #ccc;
  border-radius: 25px;
  overflow:auto;
  direction:ltr;
}

.box_container_factores::-webkit-scrollbar-thumb {
  background-color: #2c4972;
  border-radius: 25px;
  overflow:auto;
  direction:ltr;
}

.box_container_factores::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.text_ref{
    font-family: 'LatoRegular';
    color: #4d4d4d;
    font-size: 12px;
    top: 1350px;
    left: 128px;
}