
#global {
    background: transparent url("img/bg.png") center no-repeat;
}

#sobre{
    position: absolute;
    width: 100px;
    bottom: 290px;
    height: 95px;
    left: 1700px;
  }

.patologia{
    position: absolute;
    bottom: 986px;
    width: 850px;
    height: 120px;
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
    padding: 40px 100px;
}
#patologia_1{
    left: 127px;
}
#patologia_2{
    left: 1080px;
}
#patologia_3{
    left: 127px;
    bottom: 816px;
    padding: 20px 100px;
}
#patologia_4{
    left: 1080px;
    bottom: 816px;
}
#patologia_5{
    left: 127px;
    bottom: 646px;
    padding: 20px 100px;
}
#patologia_6{
    left: 1080px;
    bottom: 646px;
}
#patologia_7{
    left: 127px;
    bottom: 476px;
}
#patologia_8{
    left: 1080px;
    bottom: 476px;
}
#patologia_9{
    left: 127px;
    bottom: 305px;
}
#patologia_10{
    left: 1080px;
    bottom: 305px;
}

.patologia.active{
    background: #2c4972;
    color: white;
}

.logo_ref{
    display: none;
}

.text_ref {
    font-family: 'LatoRegular';
    color: #4d4d4d;
    font-size: 20px;
    top: 1350px;
    left: 128px;
    position: absolute;
}